.eventItem {
  background-image: linear-gradient(90deg, #000 50%, transparent 0),
    linear-gradient(90deg, #000 50%, transparent 0),
    linear-gradient(90deg, #000 50%, transparent 0),
    linear-gradient(90deg, #000 50%, transparent 0);
  background-position: 0 0, 0 100%, left 14px, 0 calc(100% - 14px);
  background-repeat: repeat-x, repeat-x, repeat-x, repeat-x;
  background-size: 24px 1px, 24px 1px, 24px 1px, 24px 1px;
}

.eventItem1 {
  background-image: linear-gradient(90deg, #000 50%, transparent 0),
    linear-gradient(90deg, #000 50%, transparent 0);
  background-position: 0 100%, 0 calc(100% - 14px);
  background-repeat: repeat-x, repeat-x;
  background-size: 24px 1px, 24px 1px;
}

  .customDash {
    background-position: 0 0,0 100%,0 0,100% 0;
    background-size: 30px 1px,30px 1px,1px 30px,1px 30px;
    background-repeat: repeat-x,repeat-x,repeat-y,repeat-y;
    background-image: linear-gradient(90deg,#000 50%,transparent 0),linear-gradient(90deg,#000 50%,transparent 0),linear-gradient(180deg,#000 50%,transparent 0),linear-gradient(180deg,#000 50%,transparent 0);
  }
